
# --- calculator: Orb-v3-conservative-inf-omat -------------------------------
from orb_models.forcefield import pretrained
from orb_models.forcefield.calculator import ORBCalculator

orbff = pretrained.orb_v3_conservative_inf_omat(device=device, precision=PRECISION)
base_calc = ORBCalculator(orbff, device=device)
